.DS_Store
!jest.config.js
*.d.ts
node_modules
out
oldlogs
package-lock.json
lib/*.js
bin/*.js
test/*.js
src/layer/nodejs/package-lock.json
lexLambda/layer/nodejs/package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-outputs.json
